node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
dist/
assets/videos
*.y4m
*.wav
__pycache__/
.env
gcp-key
assets/screenshots
/data
debug-videos/
.env.native

# Cursor/VS-code local history plugin files
.history/
